---
layout: default
description: "你来到了没有知识的荒原 :("
---


<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<div class="site-heading" id="tag-heading">
					<h1>404</h1>
					<span class="subheading">{{ page.description }}</span>
				</div>
			</div>
		</div>
	</div>
	
<tbody>
	 {% for friend in site.friends %}
 <tr class="delete" >
<td>{{friend.title}}</td>
<td align="center"></td>
<td align="right"><a  href="{{friend.href}}"  target="_blank">{{friend.href}}</a></td>
<td align="right"></td>
  {% endfor %}
  
</tbody>
  
  
</header>

<script>
	document.body.classList.add('page-fullscreen');
</script>
