<html>
<head>
<title>我的个人主页
</title>
<style>
.search{color:green}
.project{color:red}
.about{color:blue}
</style>
	<link href="//cdn.bootcss.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
	<link href="//cdn.bootcss.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

	<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
	<script src="//cdn.bootcss.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>

<body>
<div>
这个是我的一个个人主页,Anything欢迎电邮wangkun.it@qq.com!
搜
<a class="search" target="iframe" href="https://www.baidu.com/">百</a>
<a class="search" target="iframe" href="https://cn.bing.com/">必</a>
<a class="search" target="iframe" href="https://www.google.cn/">谷</a>
<a class="search"  href="https://sg.yahoo.com">雅</a>
<a class="search"  href="https://translate.google.cn">译</a>
项
<a class="project"  href="./hbut/index.html">寻</a>
<a class="project"  href="./hbut/love.html">爱</a>
<a class="project" target="iframe" href="./game/lightgame.html">灯</a>
关
<a class="about"  href="https://www.cnblogs.com/wangkun1993/">园</a>
<a class="about"  href="https://github.com/wangkun19930608/">G</a>
<a class="about"  target="iframe" href="index3.html">T</a>
<a class="about"  target="iframe" href="friends.html">友</a>
</div>
<div id="divheaderinfo_center">
 <div class="nav">
 	<div class="select">
  <span class="ui-display"> 
 	<span id="search_flag" onclick="SearchNav()"> 学术</span>
 	<img id="triangle_down" src="http://www.scholat.com/images/triangle.png">
  </span>
  <div id="tool_List" style="display: hidden;" class="hidden-box">
 	<div id="mytest">
  <div id="li-0" onclick="changeSearch(0)">
  	<a>动态</a>
  </div>
  <div id="li-1" onclick="changeSearch(1)">
  	<a>学术</a>
  </div>
  <div id="li-2" onclick="changeSearch(2)">
  	<a>学者</a>
  </div>
  <div id="li-3" onclick="changeSearch(3)">
  	<a>团队</a>
  </div>
  <div id="li-4" onclick="changeSearch(4)">
  	<a>课程</a>
  </div>
 	</div>
  </div>
 	</div>
 	<div id="search_input_bg" class="ui-search_input_bg">
  <input id="searchGroupInput" name="q" maxlength="100" type="text">
 	</div>
 	<div onclick="SearchNav()" style="background: none repeat scroll 0% 0% #fff; width: 30px; height: 25px; float: left; cursor: pointer; + margin-top: -25px; + margin-left: 252px;">
  <a href="#no" style="margin-left: 8px;" onclick="SearchNav()">
 	<img id="portal_logo" src="http://www.scholat.com/images/searchbutton.png">
  </a>
 	</div>
 	<div style="clear: both;"></div>
 </div>
	</div>
<iframe src="default_.html" name="iframe" style="width:100%;height:10%" >
</iframe>
<div id ='frm' style="width:100%;height:100%">
</div>
<script>
 function load_home() {
 document.getElementById("frm").innerHTML = '<object type="text/html" data="https://www.baidu.com/" width="100%" height="100%"></object>';
   }
   function load_home(url) {
   var h='<object type="text/html" data=';
   h+=url;
   h+=' width="100%" height="100%"></object>'
 document.getElementById("frm").innerHTML = h;
   }
   load_home('https://www.cnblogs.com/wangkun1993/');
</script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1271464027'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1271464027%26online%3D1%26show%3Dline' type='text/javascript'%3E%3C/script%3E"));</script></html>
</body>
