<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>

    <link rel="stylesheet" type="text/css" 
      href="/assets/css/straybirds.css" media="screen" />
    <link rel="stylesheet" type="text/css" 
      href="/assets/css/pygments.css" media="screen" />

    <!-- MathJax Section Start -->

    <script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    <script>
        MathJax.Hub.Config({
              tex2jax: {
              skipTags: ['script', 'noscript', 'style', 'textarea', 'pre']
              }
        });
        MathJax.Hub.Queue(function() {
            var all = MathJax.Hub.getAllJax(), i;
            for(i=0; i < all.length; i += 1) {
                all[i].SourceElement().parentNode.className += ' has-jax';
            }
        });
    </script>
<script>
var g="<iframe frameborder=\"0\" id='visi2' style=\"width:100%;height:100%\" ></\iframe>";

	var k=document.getElementById('visi1'),w=document.getElementById('visi2');

function fc(d){
	var k=document.getElementById('visi1'),w=document.getElementById('visi2');

if(d==1)
{
k.style.display='none';
w.style.display='block';
}else{
w.style.display='none';
k.style.display='block';
}

}
</script>

    <!-- MathJax Section End -->

    <!-- Google Analytics Start-->
    {% include google_analytics.ext %}
    <!-- Google Analytics End -->

    <title>{{ page.title }}</title>
  </head>

  <body>
  <div>
这个是我的一个个人主页,AnyProblem欢迎电邮wangkun.it@qq.com!
搜
<a class="search" target="iframe" href="https://www.baidu.com/" onclick='javascript:fc(1);'>百</a>
<a class="search" target="iframe" href="https://cn.bing.com/" onclick='javascript:fc(1);'>必</a>
<a class="search"  href="https://www.google.cn/" >谷</a>
<a class="search"  href="https://sg.yahoo.com">雅</a>
<a class="search"  href="https://translate.google.cn">译</a>
项
<a class="project"  href="../hbut/index.html">寻</a>
<a class="project"  href="../hbut/love.html">爱</a>
<a class="project" target="iframe" href="../game/lightgame.html" onclick='javascript:fc(1);'>灯</a>
关
<a class="about"  href="https://www.cnblogs.com/wangkun1993/">园</a>
<a class="about"  href="https://github.com/wangkun19930608/">G</a>
<a class="about"  target="iframe" href="../index.html" onclick='javascript:fc(0);'>T</a>
<a class="about"  target="iframe" href="../friends.html" onclick='javascript:fc(1);'>友</a>
</div>
	<iframe src="" name="iframe" id='visi2' style="width:100%;height:100%;display:none;position:absolute" >
    </iframe>
    <div class="container" id='visi1' >

      <header>
        <div class="container">
          <h1>
              <a href="/" title="Home Page"> *坤的 </a><br/>
          <span class="github-src">
            <a href ="https://github.com/wangkun19930608/wangkun19930608.github.io"
               target="_blank"
               title="Fork me on GitHub">
              <img src="/assets/images/GitHub-Mark-Light-32px.png" alt="">
            </a>
          </span>
          </h1>
        </div>
      </header>
<!--
      <aside id="left-side">
        {% include categories.ext %}
      </aside>

      <aside id="right-side">
        {% include archives.ext %}
      </aside>
-->
      <article>

{{ content }}

      </article>

      <div class="comments">
        {% if page.comments %}
          {% include comments.ext %}
        {% endif %}
      </div>


 

    </div>
	     <footer>
        Copyright (c) wangkun19930608 2014
		<br/>
		  <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1271464027'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1271464027%26online%3D1%26show%3Dline' type='text/javascript'%3E%3C/script%3E"));</script></html>

      </footer>
 </body>

</html>
