<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>

    <link rel="stylesheet" type="text/css"     href="/../assets/css/straybirds.css" media="screen" />
    <link rel="stylesheet" type="text/css"     href="/../assets/css/pygments.css" media="screen" />
	<link rel="shortcut icon" href="/../img/wklogo.png" type="image/x-icon">
    <script type="text/javascript"  src="/../assets/js/main.js">  </script>
    <!-- MathJax Section Start -->

    <!-- <script type="text/javascript" -->
    <!-- src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"> -->
    <!-- </script> -->
	
	<!-- <link href="https://cdn.bootcss.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet"> -->
	<link href="/../assets/css/bootstrap.min.css" rel="stylesheet">
	<!-- <link href="https://cdn.bootcss.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"> -->
	<link href="/../assets/css/font-awesome.min.css" rel="stylesheet">

	<!-- <script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script> -->
	<script src="/../assets/js/jquery.min.js"></script>
	<!-- <script src="https://cdn.bootcss.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> -->
	<script src="/../assets/js/bootstrap.min.js"></script>
	
	
    
<script>
	<!-- function NetPing(url) { -->
    <!-- $.ajax({ -->
        <!-- type: "GET", -->
        <!-- cache: false, -->
        <!-- url: url, -->
        <!-- data: "", -->
        <!-- success: function() { -->
            <!-- alert(url+"200"); -->
        <!-- }, -->
        <!-- error: function() { -->
            <!-- alert(url+"404"); -->
        <!-- } -->
    <!-- }); -->

<!-- } -->
<!-- NetPing("http://www.baidu.com"); -->
</script>

    <!-- MathJax Section End -->

    <!-- Google Analytics Start-->
    <!-- {% include google_analytics.ext %} -->
    <!-- Google Analytics End -->

    <title>{{ page.title }}</title>
	
	
	<!-- <script> -->
        <!-- MathJax.Hub.Config({ -->
              <!-- tex2jax: { -->
              <!-- skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'] -->
              <!-- } -->
        <!-- }); -->
        <!-- MathJax.Hub.Queue(function() { -->
            <!-- var all = MathJax.Hub.getAllJax(), i; -->
            <!-- for(i=0; i < all.length; i += 1) { -->
                <!-- all[i].SourceElement().parentNode.className += ' has-jax'; -->
            <!-- } -->
        <!-- }); -->
    <!-- </script> -->
	
	
	<!-- weather  -->
	<script>(function(T,h,i,n,k,P,a,g,e){g=function(){P=h.createElement(i);a=h.getElementsByTagName(i)[0];P.src=k;P.charset="utf-8";P.async=1;a.parentNode.insertBefore(P,a)};T["ThinkPageWeatherWidgetObject"]=n;T[n]||(T[n]=function(){(T[n].q=T[n].q||[]).push(arguments)});T[n].l=+new Date();if(T.attachEvent){T.attachEvent("onload",g)}else{T.addEventListener("load",g,false)}}(window,document,"script","tpwidget","//widget.seniverse.com/widget/chameleon.js"))</script>
<script>tpwidget("init", {
    "flavor": "bubble",
    "location": "WX4FBXXFKE4F",
    "geolocation": "disabled",
    "position": "top-left",
    "margin": "10px 10px",
    "language": "zh-chs",
    "unit": "c",
    "theme": "chameleon",
    "uid": "UF3E55065A",
    "hash": "625d7b4cea4f2d42210d122e12f24c64"
});
tpwidget("show");</script>

  </head>

  <body >
  <div id = "background" style = " background-image: url(&quot;https://cn.bing.com/az/hprichbg/rb/CalidrisCanutus_ZH-CN10519054459_1920x1080.jpg&quot;);
  width: -webkit-fill-available; 
  height: inherit; 
  position: fixed;"  >
	 </div>
	 <script>
	 var searchJsonCallback=function(data){
            //遍历查询结果
           alert(1);
        }
			 <!-- var url = "https://cn.bing.com/HPImageArchive.aspx?format=js&idx=0&n=1&callback=searchJsonCallback"; -->
			   <!-- var script = document.createElement('script'); -->
                <!-- script.setAttribute('src', url); -->
                <!-- // 把script标签加入head，此时调用开始 -->
			   <!-- document.getElementsByTagName('head')[0].appendChild(script); -->
			   
			   <!-- 想实现通过调用bing的自动切换壁纸，但是不能跨域问题现在不好解决 -->
			     <!-- $.ajax({ -->
                     <!-- url: "https://cn.bing.com/HPImageArchive.aspx?format=js&idx=0&n=1", -->
                     <!-- type: "GET", -->
                     <!-- dataType: "jsonp", //指定服务器返回的数据类型 -->
					 <!-- jsonpCallback: "searchJsonCallback", -->
                     <!-- success: function (data) { -->
                         <!-- var result = JSON.stringify(data); //json对象转成字符串 -->
                         <!-- alert(result); -->
                     <!-- } -->
                 <!-- }); -->
			   
			   
	 </script>
	 <div id="headtitle"  >
	 </div>
	 <script>loadHeadDiv(); </script>
  <!--
	<iframe src="" name="iframe" id='visi2' style="width:100%;height:100%;display:none;position:inherit" onload="changeFrameHeight()"  >
    </iframe>
-->
	<div id ='visi3' style="width:100%;display:none;height:100%;position:relative"  >
	</div>
	
	<!-- <script>load_home('visi3','https://www.baidu.com/');</script> -->

    <div class="container" id='visi1' >

      <header>
        <div class="container">
          <h1>
              <a href="/" title="Home Page"> *坤的 </a><br/>
          <span class="github-src">
            <a href ="https://github.com/wangkun19930608/wangkun19930608.github.io"
               target="_blank"
               title="Fork me on GitHub">
              <img src="/../assets/images/GitHub-Mark-Light-32px.png" alt="">
            </a>
          </span>
          </h1>
        </div>
      </header>
<!--
      <aside id="left-side">
        {% include categories.ext %}
      </aside>

      <aside id="right-side">
        {% include archives.ext %}
      </aside>
-->
      <article>

{{ content }}

      </article>

     <!-- 
	 <div class="comments">
        {% if page.comments %}
          {% include comments.ext %}
        {% endif %}
      </div>
	 -->
	 <div class="panel panel-white post " id="comments">
					<div class="post-footer">
						<div class="input-group">
							<input id="comment_txt" class="form-control" placeholder="Add a comment" type="text">
							<span class="input-group-addon">
                        <a href="#"><i class="fa fa-edit" onclick="login()"></i></a>  
                    </span>
						</div>
						<ul class="comments-list" id="commentsList">
						</ul>
					</div>
	</div>
	
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
					<h4 class="modal-title" id="myModalLabel">登录</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="txt_departmentlevel">Username</label>
						<input type="text" name="txt_departmentlevel" class="form-control" id="txt_username" placeholder="Github用户名">
					</div>
					<div class="form-group">
						<label for="txt_statu">Password</label>
						<input type="password" name="txt_statu" class="form-control" id="txt_password" placeholder="Github密码">
					</div>
					<div class="alert alert-warning" role="alert" id="tips">我们不会获取您的用户名和密码,评论直接通过 HTTPS 与 Github API交互,如果您开启了两步验证,请在博客的Github issues 下添加 Comment</div>
				</div>
				<div class="modal-footer">
					<button type="button" id="btn_subComment" class="btn btn-primary" data-dismiss="modal" onclick="subComment()">提交</button>
				</div>
			</div>
		</div>
	</div>
	  
	
	
	</div>
	
	<div id='footdiv' >
	 </div>
	 <script>
	 //load_home('footdiv','/foot.html');
	 loadcomments();
	 </script>
	 {% include foot.html %}
	 
<!-- 鼠标点击效果 -->
<script src="/../assets/js/iloveyou.js"></script>
	
 </body>
 
 

	 
</html>
